* {
    text-align: right;
}

body {
    background-image: url(holland.jpeg);
    /* background-size: cover; */

}

h2 p {
    color: #AA4139;∏
    text-align: center;
    border: 5px solid rgba(255,176,170, 0.5);
    cursor: pointer;
}

/* element element1, h2 p -- p resides inside h2 */

p {
    color: pink;
}

p {
    color: green;
}

li {
    list-style: none;
    display: inline-block;
}

.webtext {
    border: 5px dashed green;
}

#div1 {
    background: rgba(0, 0, 255, 0.2);
}

#div2 {
    background: rgba(255, 0, 0, 0.2);
}
